<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title></title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="stylesheet" href="/maps/documentation/javascript/demos/demos.css"> 
   <style>
   #map{
   height:400px;
   width:100%;
   }
   </style>
	</head>
	<body>

		<!-- Header -->
		
			<header id="header">
				<div class="inner">
					
					<a href="index.html" class="logo" style="  font-size:35px; font-family: "Comic Sans MS", cursive, sans-serif"  >&nbsp;&nbsp;tyf</a>
					<nav id="nav">
						<a href="../login.php"><b>Login</b></a>
						<a href="../register.html"><b>SignUp</b></a>
						<a href="elements.html"><b>About us</b></a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				
				<h1>Your Future Starts Here Now </h1>
				<p>Finding your next job in your dream company.</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Build your Resume <br /> </h3>
							</header>
							<p>In today’s competitive jobs market, your resume is your chance to set yourself apart. If you want to build a great resume, you need to know what a great resume looks like.And if you need more help, use our resume maker to create your standout application. Stand out from the competition, grab the attention of hiring managers, land the interview, and win the job! 
</p>
							
						</article>
						<article>
							<header>
								<h3>Take a Test <br /> </h3>
							</header>
							<p>Prepare yourself for the two rounds of aptitude test which will test your skills on basic mathematical and logic questions . Followed by a technical aptitude test to check your technical knowledge based upon your resume.</p>
							
						</article>
						<article>
							<header>
								<h3>Selection process <br /> </h3>
							</header>
							<p>Before hiring an applicant for a job position, an organization goes through a step-by-step process to find the most qualified candidate to fill the role. Though a search can take time, a rushed hire can lead to additional staff turnover and missed opportunity costs. By investing in a thorough and detailed hiring process, a hiring staff can make the right decisions and bring in talented professionals who will help the company grow.
</p>
							
						</article>
					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style1 special">
				<div class="inner">
					<header>
						<h2> Team Members </h2>
						
					</header>
					<div class="flex flex-4">
						<div class="box person">
							<div class="image round">
								<img src="images/pic03.jpg" alt="Person 1" />
							</div>
							<h3>Pritesh Choksi</h3>
							<p>Cipdum dolor</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic04.jpg" alt="Person 2" />
							</div>
							<h3>Dishti Dave</h3>
							<p>Vestibulum comm</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic05.jpg" alt="Person 3" />
							</div>
							<h3>Disha Jain</h3>
							<p>Fusce pellentes</p>
						</div>
						<div class="box person">
							<div class="image round">
								<img src="images/pic06.jpg" alt="Person 4" />
							</div>
							<h3>Maulik Joshi</h3>
							<p>Praesent placer</p>
						</div>
					</div>
				</div>
			</section>

		
			<!---map -->
			<div id="googleMap" style="width:100%;height:400px;"></div>

				<script>
					function myMap() {
					var mapProp= {
   				    center:new google.maps.LatLng(51.508742,-0.120850),
   					 zoom:5,
					};
					var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
					}
				</script>

				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCAUZciTRCx8-jHJZ7Yvg01HgWO5k-rPg4&callback=myMap"></script>
<!--
To use this code on your website, get a free API key from Google.
Read more at: https://www.w3schools.com/graphics/google_maps_basic.asp+30
-->


			<div id="map"></div>
    <script>
      function initMap() {
        // Create a map object and specify the DOM element for display.
        var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 19.0760, lng: 72.8777},
          scrollwheel: false,
          zoom: 8
        });
		
		var marker=new google.maps.Marker({
		position: {lat:19.0330, lng:73.0297},
		map:map
		
		}
		);
      }

    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSZkoYMZvAO7DzMPWZcJ0zYl6iaH4ex_k&callback=initMap"
    async defer></script>
			
			
			
			
			
			
			
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
						<ul class="icons">
							<li><a href="https://www.facebook.com/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="https://twitter.com/login?lang=en" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://in.linkedin.com/" class="icon fa-linkedin"><span class="label">linkedIn</span></a></li>
							<li><a href="https://in.pinterest.com/" class="icon fa-pinterest-p"><span class="label">Pinterest</span></a></li>
							
						</ul>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>